*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

header{

    display: flex;
    justify-content: center;
    position: fixed;
    
    top: 0px;
    background-color: rgb(18, 15, 59); 
    

}

.header_tag{
    width: 5px;
    height: 5px;
    color: white;
    margin: 35px;
}

/* burger meny */
#link_list a{
    text-decoration: none;
    letter-spacing: 0.1875rem;
    color: orange ;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    

}

#link_list{
   
    height: 500px;
    width: 200px;
    position: absolute;
    top: -500px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    list-style: none;
    transition: 1s;
  
    
}



#burger div{
    position: sticky;
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 25%;
    transition: 1s;
    

}

nav{
    background-color: rgb(18, 15, 59); 
    display: flex;
    position: sticky;
    justify-content: flex-end;
    align-items: center;
    

    
    grid-area: na;
    
}

#burger{

    margin-right: 50px;
    cursor: pointer;

}

.link_list_visible{
    transform: translateY(580px);
    
    

}

.burger_in_x_form #burger_line_1{
    transform: rotate(-45deg) translate(-5px, 6px);
    
}

.burger_in_x_form #burger_line_2{
    opacity: 0;
    
}
.burger_in_x_form #burger_line_3{
    transform: rotate(45deg) translate(-5px, -6px);
    
}

/*burger meny end*/






#container_for_backgrounds {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 900px 400px 900px 400px 900px;
    grid-template-areas: 
    "fb"
    "smb"
    "sb"
    "fmb"
    "tb"
    
    ;

    

}

#first_background{
    
    grid-area: fb;

    background-color: rgb(18, 15, 59); 

    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#secoend_background{

    grid-area: sb;
    background-color: rgb(1, 29, 10);
    background-image: url("/img/vegetables-and-mushrooms-seamless-pattern-on-black-background-illustration-vector.jpg");
    

}

#first_middle_background{


    grid-area: fmb;
    background-color: rgb(0, 0, 0);
   

}

#third_background{

    grid-area: tb;
    background-color: rgb(0, 0, 0);
    

}

#second_middle_background {

    grid-area: smb;
    background-color: rgb(255, 255, 255);
    
    background-image: url("/img/69e5b4a04aa27c60fc2467fe3168f839.jpg");



}

















