
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body{

    background-color: rgb(0, 39, 27);

}

header{

    background-color: rgb(0, 39, 27);
    position: absolute;
    z-index: 3;
    top: 0; 
    
    width: 100%;
    height: 50px;

}

#logotyp{
    
    z-index: 2;
    width: 200px;
    height: 100px;
    
    margin-left: -500px;

}


h1{

    margin-left: 10px;
   
    background-image: url(/img/Namnlöst-1.png);
    z-index: 2;

}

/* burger meny */

#link_list a{
    text-decoration: none;
    letter-spacing: 0.1875rem;
    color: orange ;
    font-weight: bold;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
    text-transform: uppercase;
    z-index: 2;
    position: relative;
    
    

}

#link_list{
   
    height: 100vh;
    width: 100vh;
    position: absolute;
    top: -100vh;
    z-index: 1.9;

    background-color: rgb(0, 39, 27);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    

    list-style: none;
    transition: 0.7s ease-in-out;
  
    
}



#burger div{

    position: relative;

    
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 25%;
    transition: 1s;
    

}

nav{
    
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    z-index: 3;
    position: fixed;
    top: 0;
    margin-left: 350px;
    margin-top: 10px;
    

    
    grid-area: na;
    
}

#burger{

    margin-right: 50px;
    cursor: pointer;

}

.link_list_visible{
    transform: translateY(100%);
    
    
    

}

.burger_in_x_form #burger_line_1{
    transform: rotate(-45deg) translate(-5px, 6px);
    
}

.burger_in_x_form #burger_line_2{
    opacity: 0;
    
}
.burger_in_x_form #burger_line_3{
    transform: rotate(45deg) translate(-5px, -6px);
    
}

.menu_visible{

    transform: translateY(100px);

}

#menu_button{

    cursor: pointer;
    width: 10px;
    height: 10px;
    background-color: chocolate;

}





/*burger meny end*/



#container_for_backgrounds {
    height: 100vh;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100% 95% 55% 65% 70% 70% 70% 70% 60%;
    grid-template-areas: 
    "fb"
    "fmb"
    "sb"
    "smb"
    "tb"
    "tmb"
    "fob"
    "fomb"
    "fo"
  
    ;

    

}

#first_background{
    
    grid-area: fb;

    background-image: url(/img/wallpaperflare.com_wallpaper.jpg);
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-size: 1920px 1200px;
 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: fixed;
}

#holder_for_welcome_text{
    position: relative;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

  
    flex-direction: column;
   
    

}

#welcome{
    
    font-family: 'Tenez Test', sans-serif;
    font-family: 'Tenez Variable Test', sans-serif;
    font-family: 'Tenez Italics Variable Test', sans-serif;
    
    
    position: relative;
    font-size: 4rem;
    
    top: -500px;
   
    z-index: 1;
    color: white;
}

#text_about_the_resturant{


    position: relative;
    font-size: 20px;
    top: -480px;
    
    font-family: 'Tenez Test', sans-serif;
    font-family: 'Tenez Variable Test', sans-serif;
    font-family: 'Tenez Italics Variable Test', sans-serif;
    z-index: 1;
    color: orange ;


}

#first_middle_background{

    background-color: rgb(2, 51, 27);
    z-index: 2;
    grid-area: fmb;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

#holder_for_info_text_first_middle_background{

    margin-bottom: 50px;

}

.text_white{

    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Tenez Test', sans-serif;
    font-family: 'Tenez Variable Test', sans-serif;
    font-family: 'Tenez Italics Variable Test', sans-serif;


}

.text_orange{
    
    color: orange ;
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    font-family: 'Tenez Test', sans-serif;
    font-family: 'Tenez Variable Test', sans-serif;
    font-family: 'Tenez Italics Variable Test', sans-serif;
   
    

} 
#second_holder_for_info_text_first_middle_background{

    margin-bottom: px ;


}
.second_text_orange{
    color: orange ;
    display: inline-block;
    font-size: 1,4rem;
    text-align: center;
    
    
    font-family: 'Tenez Test', sans-serif;
    font-family: 'Tenez Variable Test', sans-serif;
    font-family: 'Tenez Italics Variable Test', sans-serif;
}
.second_text_white{

    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Tenez Test', sans-serif;
    font-family: 'Tenez Variable Test', sans-serif;
    font-family: 'Tenez Italics Variable Test', sans-serif;

}
#holder_for_options{

    margin-bottom: 100px ;
    padding: 20px ;
    display: flex;
  

}
.menu_options{
    
    padding: 7px;
    border: 1.5px solid white;
    color: orange;
    font-family: 'Tenez Test', sans-serif;
    font-family: 'Tenez Variable Test', sans-serif;
    font-family: 'Tenez Italics Variable Test', sans-serif;

    
    margin-left: 10px ;

}

a{

    text-decoration: none;

}



#menu_option_resturang{

    margin-left: 20px ;

}
#secoend_background{

    position: relative;
    z-index: 2;
    grid-area: sb;
    background-image: url(/img/drink_picture.jpg);
    background-size: cover;
    background-position: center;
    min-width: 200px;
    max-width: 1000px;
}

#second_middle_background {

    z-index: 2;
    grid-area: smb;
    background-color: rgba(40, 78, 40, 0.4);
    
    color: white;
    

}
#holder_for_text_in_second_middle_background{

    margin-top: ;
    color: white;
    display: grid;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Tenez Test', sans-serif;
    font-family: 'Tenez Variable Test', sans-serif;
    font-family: 'Tenez Italics Variable Test', sans-serif;

    
    

    z-index: 2;

}

#headline_for_second_middle_background{
    
    position: relative;

    font-family: 'Tenez Test', sans-serif;
    font-family: 'Tenez Variable Test', sans-serif;
    font-family: 'Tenez Italics Variable Test', sans-serif;
    
    margin-top: 100px;
    margin: 10px;
    font-size: 2rem;

}

.line_for_cocktailbar{

    background-color: white;
    
    height: 3px;
    width: 300px;
    
    border-radius: 5px;
}

#text_in_cocktail_section{

    font-size: 1.5rem;
    padding: 20px; 
    text-align: center;

}

#holder_for_text_in_cocktial_menu{

    position: relative;
    
    min-width: 200px;
    max-width: 1000px;
    

}





#cocktail_info{

    margin-top: 40px;
    font-size: 2rem;
    text-align: center;

}

#button_in_cocktail_section

#cocktail_orage_word{

    font-size: 2rem

}



#third_background{

    z-index: 2;
    grid-area: tb;
    background-image: url(/img/patrick-schneider-5xltWMpkN3E-unsplash.jpg);
    background-size: 400px;
    background-size: cover;
    background-position: center;

}

#third_middle_background{

    z-index: 2;
    grid-area: tmb;
    background-color: rgba(40, 78, 40, 0.4);
    
    color: white;
    


}

#four_background{

    z-index: 2;
    grid-area: fob;
    background-image: url(/img/alex_rainer-lB1yyj06tlw-unsplash.jpg);
    background-size: cover;
    background-position: center;
   

}

#four_middle_background{


    
    z-index: 2;
    grid-area: fomb;
    background-color: rgba(40, 78, 40, 0.4);
    
    color: white;
    

}


footer{

    grid-area: fo;
    background-color: rgb(5, 41, 27);
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items:;
    justify-content:;




}


#test{

    top: -3900px;
    position: relative;

    
    width: 200px;
    height: 200px;
    z-index: 3;
    border-radius: 20px;

}

.footer_line{

    margin-top: 2px;
    margin-bottom: 10px;
    background-color: rgb(6, 88, 57);
    border-radius: 5px;
    width: 300px;
    height: 5px;

}
.footer_headline{

    color: rgb(6, 88, 57);
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: 'Tenez Test', sans-serif;
    font-family: 'Tenez Variable Test', sans-serif;
    font-family: 'Tenez Italics Variable Test', sans-serif;

}
.footer_info{

    color: white;
    font-size: 1rem;
    margin-bottom: 30px;

}




/* andra hemsida */

#holder_for_menu{


    height: 1500px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;


}


#container_for_menu_options{

    position: absolute;
    top: 200px;



}

#holder_for_welxome_in_resturnat{

    top: -100px;
    position: absolute;
    
    
    color: beige;
    text-align: center;
    z-index: 2;


}

#holder_for_menu{
    margin-bottom: ;
    background-image: url(/img/wallpaperflare.com_wallpaper.jpg);
    
    width: auto;

}

#welcome_resturnag_menu{

    font-size: 4rem;
    text-align: center;

}

.menu{

    padding: 12px;

    width: 300px;
    height: 90px;
    background-color: beige;
    position: relative;
    z-index: 2;
    margin-top: 20px;

    font-size: 2rem;
    font-family: 'Tenez Test', sans-serif;
    font-family: 'Tenez Variable Test', sans-serif;
    font-family: 'Tenez Italics Variable Test', sans-serif;
    
    text-align: center;

}

#menu1{

    
}
#menu2{

   
}
#menu3{

   
}
#menu4{

   
}
#menu5{

   
}
#menu6{

    
}


#menu_reavle{

    width: 300px;
    height: 90px;
    padding: 50px 0;
    text-align: center;
    background-color: beige;

    font-size: 2rem;
    display: none;

    
}

#menu_reavle2{

    width: 300px;
    height: 90px;
    text-align: center;
    background-color: beige;
    display: none;

}

#menu_reavle3{

    width: 300px;
    height: 90px;
    padding: 50px 0;
    text-align: center;
    background-color: beige;

    font-size: 2rem;
    display: none;
    
    
}

#menu_reavle4{

    width: 300px;
    height: 90px;
    text-align: center;
    background-color: beige;

    display: none;

}

#menu_reavle5{

    width: 300px;
    height: 90px;
    padding: 50px 0;
    text-align: center;
    background-color: beige;
 
    font-size: 2rem;
    display: none;
    
    
}

#menu_reavle6{

    width: 300px;
    height: 90px;
    text-align: center;
    background-color: beige;

    display: none;

}


#menu2{



}
#

.img_holder_in_menu{

    width: 60px;
    height: 60px;
    background-color: rgb(189, 0, 0);
    border-radius: 15px;
    z-index: 2;

}

/* arbetare på Jamozoro*/

#holder_for_workes_card_layout{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px ;
    padding: 50px;
    background-image: url(/img/wallpaperflare.com_wallpaper.jpg);


}


.workers_card_layout{

    width: 300px;
    height: 400px;
    background-color: white;
    margin: 10px;
    display: flex;
    justify-content: last baseline;
    align-items: flex-end;


}

.picture_in_workers{


}

.info_section_in_workers{

    width: 110%;
    height: 35%;
    background-color: beige;
    border-top-left-radius:50% ;
    border-top-right-radius:50% ;
    box-shadow: -2px -33px 34px -27px rgba(0,0,0,0.75);
    color: rgb(5, 59, 5);
    font-family: 'Tenez Test', sans-serif;
    font-family: 'Tenez Variable Test', sans-serif;
    font-family: 'Tenez Italics Variable Test', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size:1.7rem;
    margin-bottom: ;
    text-align: center;
    padding: 5px;

}

.text_in_om_oss_info{

    font-size: 1rem;

}

#workers_picture1{

    background-image: url(/img/employe/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg);

}

#workers_picture2{

    background-image: url(/img/employe/jurica-koletic-7YVZYZeITc8-unsplash.jpg);

}

#workers_picture3{

    background-image: url(/img/employe/podpros-GEnCnYhA1J4-unsplash.jpg);

}

#workers_picture4{

    background-image: url(/img/employe/may-gauthier-0J9l9xRyMSo-unsplash.jpg);

}

#workers_picture5{

    background-image: url(/img/employe/jurica-koletic-7YVZYZeITc8-unsplash.jpg);

}

#workers_picture6{

    background-image: url(/img/employe/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg);

}


/* vår vision */


#text_in_our_vision{
    margin-top: 50px;

    color: rgb(255, 255, 255);

    
    z-index: 2;

}

#welcome_text_in_our_vision{

    margin-top: 50px;
    font-size: 2rem;
    color: white;
    font-family: 'Tenez Test', sans-serif;
    font-family: 'Tenez Variable Test', sans-serif;
    font-family: 'Tenez Italics Variable Test', sans-serif;

}


#holder_in_our_vision{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Tenez Test', sans-serif;
    font-family: 'Tenez Variable Test', sans-serif;
    font-family: 'Tenez Italics Variable Test', sans-serif;
    text-align: center;

}

#text_in_our_vision{


    color: white;
    font-family: 'Tenez Test', sans-serif;
    font-family: 'Tenez Variable Test', sans-serif;
    font-family: 'Tenez Italics Variable Test', sans-serif

}



